*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    background:url("frank-mckenna-eXHeq48Z-Q4-unsplash.jpg");
    background-size: cover;
   position: relative;
}
h1{
    background: linear-gradient(to right,rgb(237,232,236),rgb(159,182,216));
    width: 60vw;
    text-align: center;
    max-width: 100%;
    padding: 1rem 1.5rem;
    font-size: 6rem;
    border-radius: 5rem;
    font-weight: 700;
    position: absolute;
    top: 12rem;
   left: 50%;
   transform: translate(-50%,-50%);
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.container{
width: 100%;
max-width: 60vw;
min-height: 40vh;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
padding: 1rem;
border-radius: 5rem;
background:linear-gradient(to right,rgb(237,232,236),rgb(159,182,216));
}
.image{
    text-align: center;
}
p{margin: 2rem 0px;
text-align: center;
font-size: 2rem;
font-weight: 600;
}
.button{
    width: 100%;
    text-align: center;
}
.btn{
    width: 50%;
    max-width: 100%;
    padding:1rem 1.5rem ;
    border-radius: 50px;
    outline: none;
    border: transparent;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.3s ease-in;
}
.btn:hover{
    background-color: rgb(66, 122, 206);
    color: white;
    border: 1px;
    font-size: 1.5rem;
}
@media (width<=850px) {
    html{
        font-size: 45%;
    }
    h1{
        top:15rem;
    }
    p{
        font-size: 3rem;
    }
}
@media (300px < width <850px) {
    html{
        font-size: 35%;
    }
}

